/*
 * main.css
 * */
html,body{
    font: 12px/1.5 Arial,Helvetica,sans-serif;
	height:101%;
    color: #666;
}
body, div, ul, li,
h1, h2, h3, h4, h5, h6,
form, input, button,
img, textarea, p, th, td {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
img {
    border: 0;
}
input, img {
    vertical-align: middle;
}
a {
    color: #8b8b8b;
    text-decoration: none;
}
a:hover { text-decoration: underline; }
a:active {star:expression_r(this.onFocus=this.blur());}
a:focus { outline:0; }
.clearfix { zoom: 1; }
.clearfix:after { clear: both; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.grid-960 {
    width: 960px;
    margin: 0 auto;
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -95px;
}
#header {
    height: 40px;
    line-height: 40px;
    background: #f7f6f5;
    background: -moz-linear-gradient(top, #fff, #f7f6f5);
    background: -webkit-linear-gradient(top, #fff, #f7f6f5);
    background: -ms-linear-gradient(top, #fff, #f7f6f5);
    background: -o-linear-gradient(top, #fff, #f7f6f5);
    background: linear-gradient(top, #fff, #f7f6f5);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff,endColorstr=#f7f6f5)";
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff,endColorstr=#f7f6f5);
    zoom: 1;
    box-shadow: 0 0 5px #ccc;;
    -webkit-box-shadow: 0 0 5px #ccc;;
    -mox-box-shadow: 0 0 5px #ccc;;
    border: 1px solid #dcdcdc;
}
.form-search form,
.thumb_non_active,
.thumb_active,
.live-icon,
.weibo-login,
.renren-login,
.content-title-icon,
.write-arrow,
.gray-arrow,
#totop {
    background: url(../img/icon.png) no-repeat;
}
#header a:hover {
    color: #ff8c1a;
    text-decoration: none;
}
.headlink {
    float: left;
}
.headlink a {
    font-size: 14px;
    margin-right: 37px;
}
.headlink a.active {
    color: #ff8c1a;
}
.headmenu {
    float: right;
}
.headmenu li {
    float: right;
    margin-right: 8px;
    margin-left: 10px;
}
.form-search {
    display: inline-block;
    vertical-align: middle;
    _width: 170px;
    +margin-top: 6px;
    zoom: 1;
    *display: inline;
}
.headmenu li form {
    background-position: -5px -7px;
    height: 26px;
    line-height: 26px;
    padding-left: 6px;
    display: block;
}
.headmenu li input {
    width: 134px;
    border: 0 none;
    background: 0;
    display: inline;
}
.headmenu li input:focus {
    outline: none;
}
.headmenu li input.form-submit {
    width: 27px;
    height: 27px;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}
.content-title {
    _text-align: left;
    padding: 30px 3px;
}
.content-title h2 {
    display: inline-block;
    zoom: 1;
    *display: inline;
    font: normal 18px '黑体';
}
.live-wrap {
    padding: 33px 0 20px 0;
    background: #f8f8f8;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.live-item ul {
    height: 292px;
    margin: 0 20px 0 10px;
}
.live-item ul li {
    width: 252px;
    float: left;
    margin-right: 87px;
}
.main {
    width: 694px;
    float: left;
}
.slide {
    width: 266px;
    margin-top: 82px;
    float: right;
}
.small-item {
    width: 193px;
    float: left;
    margin-right: 36px;
    margin-bottom: 35px;
    /*清除ie6下的浮动元素双倍margin*/
    _display: inline;
}
.live-item ul li.non-margin-right {
    margin-right: 0;
}
.content-title-icon {
    display: inline-block;
    background-position: -184px -10px;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-left: 8px;
    height: 24px;
    width: 24px;
} 
.video-bak img {
    border: 6px solid #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 0 2px #ddd;
    -moz-box-shadow: 0 0 2px #ddd;
    -webkit-box-shadow: 0 0 2px #ddd;
}
.small-item .video-bak img {
    height: 120px;
    width: 180px;
}
.detail-msg {
    margin-top: 12px;
}
.item-title {
    font-size: 14px;
    font-family: '黑体';
}
.small-item-title {
    font-size: 13px;
    margin-bottom: 12px;
}
.go-abroad {
    clear: both;
}
.item-content {
    height: 36px;
    overflow: hidden;
    margin: 12px 0 15px;
    word-break: break-all;
    word-wrap: break-word;
}
.author-msg {
    height: 30px;
    line-height: 30px;
}
.small-item .author-msg {
    line-height: 20px;
    line-height: 20px;
}
.author-msg a {
    float: left;
}
.author-name {
    margin-left: 10px;
}
.author-msg .pub-time, 
.author-msg .fllow_num,
.author-msg .thumb_non_active,
.author-msg .thumb_active {
    float: right;
    margin-right: 8px;
}
.thumb_non_active, .thumb_active {
    display: inline-block;
    background-position: -133px -99px;
    height: 10px;
    width: 12px;
    margin-top: 5px;
}
.thumb_active {
    background-position: -160px -99px;
}
.game-video {
    padding: 15px 60px 47px;
    background: #f8f8f8;
    position: relative;
}
.game-video p {
    margin-bottom: 15px;
    text-align: center;
    font: 16px '黑体';
}
.game-video img {
    margin-left: 13px;
}
.play-dota {
    font-size: 15px;
    margin-top: 45px;
    margin-bottom: 18px;
}
.author-photo {
    float: left;
}
.person-list {
    margin-bottom: 32px;
}
.person-msg {
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin-left: 10px;
}
.person-msg a {
    font-size: 13px;
    color: #333;
}
.person-msg div {
    font-size: 12px;
    color: #aaa;
    margin-top: 3px;
    width: 216px;
    overflow: hidden;
}
.live-icon {
    display: inline-block;
    background-position: -225px -9px;
    padding-left: 26px;
    width: 35px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #fff;
    position: absolute;
    right: -10px;
    top: -12px;
}
.live-icon:hover {
    text-decoration: none;
}
.one_video {
    position: relative;
}
.write-arrow,
.gray-arrow {
    display: inline-block;
}
.gray-arrow {
    height: 30px;
    width: 30px;
    background-position: -5px -85px;
    position: absolute;
    right: 30px;
    top: 30px;
}
.write-arrow {
    background-position: -41px -91px;
    height: 25px;
    width: 35px;
    margin: 0 8px;
    vertical-align: middle;
}
#other-plat {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background: #484848;
    text-align: center;
    color: #fff;
    font-size: 14px;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
.weibo-login, .renren-login {
    display: inline-block;
    padding-left: 25px;
    margin: 0 8px;
    height: 38px;
    line-height: 38px;
    /* line-height在ie6下失效. 解决办法:
     * margin-top: (所属行高(60) - 自身高度(38)) / 2
     * */
    _margin-top: 9px;
    width: 114px;
    _width: 113px;
    color: #fff;
    font-size: 13px;
    vertical-align: middle;
    border-radius: 5px;
    border: 2px solid #484848;
}
#other-plat a:hover {
    text-decoration: none;
}
.weibo-login {
    background-position: -5px -39px;
}
.renren-login {
    background-position: -151px -39px;
}
#totop {
    background-position: -81px -83px;
    height: 43px;
    width: 42px;
    bottom: 100px;
    overflow: hidden;
    position: fixed;
    display: none;
}
#footer-push {
    height: 95px;
    clear: both;
}
#footer {
    border-top: 1px solid #dfdedd;
    margin-top: 40px;
    padding-bottom: 10px;
}
.duobei_logo,
.weibo-icon,
.tx-icon,
.rr-icon {
    background: url(../img/footer.png) no-repeat;
    padding-left: 24px;
    display: inline-block;
}
.duobei_logo {
    background-position: 0 0;
    width: 48px;
    height: 47px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 0;
}
#footer ul {
    margin: 40px 27px 20px;
}
#footer ul li {
    width: 160px;
    float: left;
}
#footer ul li p {
    margin: 5px 0;
}
#footer ul li .footer-item-title {
    font-size: 14px;
    line-height: 21px;
    color: #333;
    margin-bottom: 18px;
}
.weibo-icon {
    background-position: -59px 1px;
}
.tx-icon {
    background-position: -59px -25px;
}
.rr-icon {
    background-position: -59px -51px;
}
.footer-company-info {
    margin-top: 200px;
    color: #d9d9d9;
    text-align: left;
    margin-bottom: 40px;
}
.footer-company-info a {
    color: #d9d9d9;
}
.footer-company-info a,
.footer-company-info span {
    margin: 0 5px;
}
