/*重置样式*/
body, input {
	font: 13px/1.7  'Helvetica Neue',Helvetica,Arial,Sans-serif;
    padding: 0;
    margin: 0;
    color: #222;
    word-wrap: break-word;
}

a {
    color: #259;
	text-decoration:none;
	outline: none;
}

ul { 
    list-style: none; 
    margin: 0;
    padding: 0;
}

a:active {star:expression_r(this.onFocus=this.blur());}
a:focus { outline:0; }
a:hover { text-decoration: underline; }
:focus { outline: none; }
:link, :visited, ins { text-decoration: none; }
.clearfix { zoom: 1; }
.clearfix:after { clear: both; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
h3 {
    font-weight: 700;
    font-size: 16px;
    outline: 0;
    margin: 0;
}
img { 
	border: 0; 
	border-radius: 3px; 
	width: 36px;
    height: 36px;
	vertical-align: middle;
}

/*主体样式*/
.wrapper {
    width: 960px;
    margin: 0 auto;
}

.invite-body {
    width: 600px;
    margin: 30px auto;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1) inset;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.1) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1) inset;
}

.search-box input {
    padding: 8px 10px;
    width: 130px;
    line-height: 15px;
    color: #777;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0,0,0,.1) inset;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.1) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1) inset;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.search-box input:focus {
	vertical-align: middle\9; /*解决ie下input获取焦点后出现的跳动问题*/
	/*
	vertical-align: middle\0; //ie8
	+vertical-align: middle;  // ie7
	_vertical-align: middle;  // ie6
	*/
}

.invite-status {
    color: #999;
    margin-left: 6px;
}

.person-list {
	position: relative;
	display: inline-block;	/*ie/firefox 下选取目标的bug*/
}

.person-list a, .invited-people a {
    color: #555;
}

.person-list a:hover, .invited-people a:hover {
    color: #259;
}

.invite-body h3 {
    padding-top: 12px;
    margin: 12px 0 10px;
    border-top: 1px dotted #eee;
}

.person {
    float: left;
    width: 50%;
    height: 65px;
    margin: 0 0 10px;
    overflow: hidden;
}

a.photo {
    float: left;
    margin-right: 12px;
}

.send-invite, .remove-invite {
    float: right;
    color: #fff;
    padding: 1px 5px;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    border-radius: 3px;
}

.odd button {
    margin-right: 10px;
}

.bio {
    color: #222;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.send-invite {
    background-color: #0048cc;
    border: 1px solid #0048cc;
    box-shadow: 0 1px 0 #0048cc inset;
}

.remove-invite {
    background-color: #2a2a2a;
    border: 1px solid #2a2a2a;
    box-shadow: 0 1px 0 #2a2a2a inset;
}

.right {
	float: right;
	margin-right: 10px;
}

.first {
	margin-left: 10px;
}

.invited-people {
	position: absolute;
	background: #fff;
	padding-top: 8px;
	width: 230px;
	line-height: 36px;
	border-radius: 3px;
	display: none;
	top: 17px;
}

.invited-people ul {
	border: 1px solid #ddd;
}

.icon {
	position: absolute;
	top: 3px;
	border-left:6px dashed transparent;
	border-right:6px dashed transparent;
	border-bottom:6px solid #ddd;
	width:0;
	height:0;
	font-size:0; /*for IE6*/
	line-height: 0; /*hack处理*/
}

.down {
	top: 4px;
	border-bottom:6px solid #fff;
}